{% extends "base.html.twig" %}

{% block title %}Sync Result{% endblock %}

{% block body %}

<div class="fs-5 p-4">{{ title }}</div>

{% if fileToDisplay %}
<div class="d-flex p-4 gap-4">
    <div class="sticky-top" style="min-width: 300px;">
        <ul class="list-group">

        {% for logType, logTypeFiles in files %}
        <li class="list-group-item list-group-item-light">{{ logType }}</li>
        {% for logTypeFile in logTypeFiles %}

        <a class="list-group-item list-group-item-action {{ logTypeFile.filename in app.request.pathinfo ? 'fw-bold' }}" href="{{ path('sync_result', {'env': env, 'fileName': logTypeFile.filename}) }}">{{ logTypeFile.filename }}</a>
        {% endfor %}
        {% endfor %}
        </ul>
    </div>

    <div class="font-monospace" style="font-size: .8rem; white-space: pre;">
        {% include "sync/" ~ fileToDisplay.filename ignore missing %}
    </div>
</div>
{% endif %}

{% endblock %}